@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Tagesschrift&display=swap");

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Tagesschrift";
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.85'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 18pt;
  padding: 20px;
}

@media (min-width: 768px) {
  .pageHeader {
    flex-direction: row;
    justify-content: center;
    font-size: 20pt;
  }
}

.headerAboutme {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.headerAboutme .socials {
  position: absolute;
  display: flex;
  gap: 20px;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .headerAboutme .socials {
    left: 10px;
    bottom: 10px;
    transform: none;
  }
}

.socials img {
  width: 35px;
  height: 35px;
  transition: transform 0.2s;
}

.socials img:hover {
  transform: scale(1.4);
}

.headerimg img {
  max-width: 250px;
  height: auto;
  box-shadow: 2px 2px 2px 2px lightgrey;
  animation: slidein 1.5s 1;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .headerimg img {
    max-width: 300px;
  }
}

@keyframes slidein {
  from {
    transform: scale(0.5) translateX(-200%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

.myWorkContainer {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.myWorkContainer h2 {
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .myWorkContainer h2 {
    font-size: 3rem;
  }
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projectsContainer div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: #330055;
  background-size: cover;
  box-shadow: 5px 5px 5px 5px #a044ff;
}

.projectsContainer div:hover {
  transform: scale(1.05);
}

.projectsContainer div img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.footerDiv {
  background: linear-gradient(to right, #a044ff, #6a3093);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  color: white;
}

@media (min-width: 768px) {
  .footerDiv {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5%;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.contactInfo h2 {
  font-size: 2rem;
}

.contactInfo img {
  width: 30px;
  height: 30px;
  transition: transform 0.5s;
}
.contactInfo img:hover {
  transform: scale(1.4);
}
.contactInfo div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contactInfo a {
  text-decoration: none;
  color: white;
}

.footerImg img {
  border-radius: 5px;
}
